body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    color: blanchedalmond;
}
.card-footer{
    /* background-color: blue; */
    /* position: fixed; */
    /* top: 94vh; */
    /* width: 100vw; */
    /* left: 0; */

}
*{
    margin: 0;
    /* border: 1px black solid; */

}
header>h1{
    display: block;
    margin-top: 0px;
    padding-top: 30vh;
}
/* h2{
    background-color:black;
    color: blanchedalmond;
    padding: 20px 15px 10px 0px ;
    margin-top: 10vh;
} */
header{
    /* background: linear-gradient(to top left,#1c26b9 0%,#93E317 100%); */
    width: 100%;
    height: 20vh;
    text-align: center;
}
#logo{
    position: absolute;
    top: 1vh;
    left: 40%;
    width: 180px;
    border-radius: 90px;
    border: 1px black solid;
}
header>img:hover{
    transition: 3s;
    transform:rotate(360deg);
}
nav{
    position: absolute;
    display: flex;
    width: 100%;
    top:0;
    justify-content: center;
}
nav a{
    background-color: #93E317;
    text-decoration: none;
    font-family:Sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    /* border-radius: 8px 8px 0px 0px; */
    padding: 1vh 3.17vw;
    color: black;
    border-bottom: black solid 2px;
}
nav>.select, nav>a:hover{
    background-color:#1c26b9;
    color: blanchedalmond;

}
#image img{
    /* border-radius: 50%; */
    width: 15rem;
    border-radius: 100%;
}
/* #container02{
    margin-top: -10vh;
} */

/*

#container{
    max-width: 80%;
    padding: 20px;
    background-color:#94dd25bd;
    border-radius: 5px;
} */
#container>p{
    font-size: 17px;
    margin: 15px;
}